<footer>
  <button type="button" title="Ir a Inicio">
    <a href="#top"
      ><img src="./assets/images/ico-arrow.svg" alt="button to upload"
    /></a>
  </button>
  <div>
    <nav>
      <li>
        <a href="https://adalab.es/" title="Ir a Artículo"> Article</a>
      </li>
      <li>
        <a href="https://adalab.es/" title="Ir a Libros">Books</a>
      </li>
      <li>
        <a href="https://adalab.es/" title="Ir a Eventos">Events</a>
      </li>
      <li>
        <a href="https://adalab.es/" title="Ir a Razones">Reasons</a>
      </li>
      <li>
        <a href="https://adalab.es/" title="Ir a Consejos">Tips</a>
      </li>
    </nav>
  </div>
  <div>
    <nav>
      <li>
        <a href="https://adalab.es/" title="Ir a Twitter" target="_blank"
          >Twitter</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" title="Ir a Instagram" target="_blank"
          >Instagram</a
        >
      </li>
      <li>
        <a
          href="https://adalab.es/"
          title="Ir a Mastodon.Social"
          target="_blank"
          >Mastodon.Social</a
        >
      </li>
    </nav>
  </div>
  <small>&copy;2017 we <span>&#10084;</span> components</small>
</footer>
