<footer class="menu">
  <button class="menu-button" type="button" title="Ir a Inicio">
    <a href="#top">
      <img src="./assets/images/ico-arrow.svg" alt="button to upload" />
    </a>
  </button>
  <div class="menu-wrapper">
    <nav>
      <ul class="menu-wrapper__list">
        <li class="menu-wrapper__list--item">
          <a href="https://adalab.es/" title="Ir a Artículos"> </a>Articles
        </li>
        <li class="menu-wrapper__list--item">
          <a href="https://adalab.es/" title="Ir a Libros"></a>Books
        </li>
        <li class="menu-wrapper__list--item">
          <a href="https://adalab.es/" title="Ir a Eventos"></a>Events
        </li>
        <li class="menu-wrapper__list--item">
          <a href="https://adalab.es/" title="Ir a Razones"></a>Reasons
        </li>
        <li class="menu-wrapper__list--item">
          <a href="https://adalab.es/" title="Ir a Consejos"></a>Tips
        </li>
      </ul>
    </nav>
    <nav>
      <ul class="menu-wrapper__list">
        <li class="menu-wrapper__list--item">
          <a href="https://adalab.es/" title="Ir a Twitter" target="_blank"></a
          >Twitter
        </li>
        <li class="menu-wrapper__list--item">
          <a
            href="https://adalab.es/"
            title="Ir a Instagram"
            target="_blank"
          ></a
          >Instagram
        </li>
        <li class="menu-wrapper__list--item">
          <a
            href="https://adalab.es/"
            title="Ir a Mastodon.Social"
            target="_blank"
          ></a
          >Mastodon.Social
        </li>
      </ul>
    </nav>
    <small class="menu-wrapper__copy"
      ><span class="menu-wrapper__copy--item">&copy;2017</span>
      <span class="menu-wrapper__copy--item"
        >we
        <span class="menu-wrapper__copy--heart">&#10084;</span>
        components</span
      >
    </small>
  </div>
</footer>
