<header id="top" class="hero">
  <button class="hero__menu" type="button" name="menu">
    <a href="https://adalab.es/">
      <img src="./assets/images/ico-menu.svg" alt="Menu"
    /></a>
  </button>
  <div class="hero__header">
  <h1 class="hero__header--title">anonymous proxy</h1>
  <p class="hero__header--text">in hac habitase platea dictumst</p>
  <button class="button-arrow" title="Ir a 3 Reasons to purchase">
    <a href="#purchase">
      <img src="./assets/images/ico-scroll-down.svg" alt="button to down"
    /></a>
  </div>
  </button>
</header>
