<header id="top" class="hero">
  <button class="hero-header-menu" type="button" title="Ir a Menu">
    <a href="https://adalab.es/">
      <img src="./assets/images/ico-menu.svg" alt="Menu"
    /></a>
  </button>
  <div class="hero-wrapper">
    <h1 class="hero-wrapper__title">
      <span class="hero-wrapper__title--item">anonymous</span>
      <span class="hero-wrapper__title--item">proxy</span>
    </h1>
    <p class="hero-wrapper__text">In hac habitase platea dictumst.</p>
  </div>
  <button class="hero-button" title="Ir a 3 Reasons to purchase">
    <a href="#purchase">
      <img src="./assets/images/ico-scroll-down.svg" alt="button to down"
    /></a>
  </button>
</header>
