<header id="top" class="hero">
  <a href="https://adalab.es/">
    <button class="hero-header-menu" type="button" title="Ir a Menu">
      <img src="./assets/images/ico-menu.svg" alt="Menu" /></button
  ></a>
  <div class="hero-wrapper">
    <h1 class="hero-wrapper__title">
      <span class="hero-wrapper__title--item">anonymous</span>
      <span class="hero-wrapper__title--item">proxy</span>
    </h1>
    <p class="hero-wrapper__text">In hac habitase platea dictumst.</p>
  </div>
  <a href="#purchase" class="hero-link">
    <button class="hero-link__button" title="Ir a 3 Reasons to purchase">
      <img src="./assets/images/ico-scroll-down.svg" alt="button to down" />
    </button>
  </a>
</header>
