<section id="purchase" class="purchase">
  <h3 class="purchase__title">3 Reasons to purchase</h3>
  <div class="purchase-wrapper">
    <article class="purchase-wrapper__article item1">
      <h4 class="purchase-wrapper__article--title">Ut sed metus</h4>
      <p class="purchase-wrapper__article--text">
        Lorem ipsum dolor sit amet, consecteur.
      </p>
    </article>
    <article class="purchase-wrapper__article item2">
      <h4 class="purchase-wrapper__article--title">Curabitur ac erat</h4>
      <p class="purchase-wrapper__article--text">
        Mauris mattis urna quis lorem molestie.
      </p>
    </article>
    <article class="purchase-wrapper__article item3">
      <h4 class="purchase-wrapper__article--title">Morbi dictum</h4>
      <p class="purchase-wrapper__article--text">
        Aliquam in dolor et dolor tincidunt.
      </p>
    </article>
  </div>
  <button class="purchase__button" type="button" title="Ir a More reasons">
    More reasons
  </button>
</section>
