<section class="tip">
  <h2 class="tip__title">Insomnia tips</h2>
  <article class="tip__article">
    <h3 class="tip__article--title">Looking through a window</h3>
    <p class="tip__article--text">
      Donec accumsan, nulla ut volutpat porttior, quem odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <button
      class="tip-button"
      type="button"
      title="Ir a Looking through a window"
    >
      Go
    </button>
  </article>
</section>
