// colors
$backgroundFooter: #304268;
$backgroundReasons: #eff9ff;
$titleSection: #8ccbea;
$button: #f26002;
$buttonMenu: #0271bc;
$colorTextPrimary: #000000;
$colorTextSecondary: #ffffff;
$colorTextArticle: #4a4a4a;

// fonts
$fontTitle: "Roboto Slab";
$fontText: "Roboto";
