$backgroundFooter: #304268;
$backgroundReasons: #eff9ff;
$titleSection: #8ccbea;
$button: #f26002;
$buttonMenu: #0271bc;

// fonts

$fontTitle: "Roboto Slab";
$fontText: "Roboto";
$colorTextPrimary: #000000;
$colorTextSecondary: #ffffff;
