.hero {
  height: 100vh;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.hero-header-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $buttonMenu;
  border: $buttonMenu;
  width: 44px;
  height: 44px;
  transition: background-color ease 0.5s;
}
.hero-menu:hover {
  background-color: #304268;
}
.hero-wrapper {
  color: $colorTextSecondary;
  position: absolute;
  bottom: 143px;
}
.hero-wrapper__title {
  font-family: $fontTitle;
  font-size: 42px;
  line-height: 1.31;
  text-transform: uppercase;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
.hero-wrapper__title--item {
  display: block;
}
.hero-wrapper__text {
  font-size: 16px;
}
.hero-button {
  height: 45px;
  width: 45px;
  border-radius: 22.5px;
  position: absolute;
  bottom: 53px;
  transition: all ease 0.3s;
}
.hero-button:hover {
  transform: translate(0px, 10px);
  height: 49px;
  width: 49px;
}
@media all and (min-width: 768px) {
  .hero-wrapper {
    bottom: 120px;
  }
  .hero-wrapper__title {
    font-size: 80px;
    line-height: 1.33;
    margin-bottom: 20px;
  }
  .hero-wrapper__text {
    font-size: 24px;
  }
  .hero-button {
    bottom: 45px;
  }
}
@media all and (min-width: 1200px) {
  .hero-wrapper {
    bottom: 88px;
  }
  .hero-wrapper__title {
    font-size: 100px;
    line-height: 1.32;
    text-shadow: 0 2px 5px $colorshadow;
    margin-bottom: 0px;
  }
  .hero-button {
    bottom: 13px;
  }
}
