.hero {
  height: 100vh;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.hero-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $buttonMenu;
  border: $buttonMenu;
  width: 44px;
  height: 44px;
}
.hero-header {
  color: $colorTextSecondary;
  position: absolute;
  bottom: 53px;
}
.hero-header__title {
  font-family: $fontTitle;
  font-size: 42px;
  line-height: 1.31;
  text-transform: uppercase;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
.hero-header__title--item {
  display: block;
}
.hero-header__text {
  font-size: 16px;
  margin-bottom: 45px;
}
.hero-button {
  height: 45px;
  width: 45px;
  border-radius: 22.5px;
}
@media all and (min-width: 768px) {
  .hero-header {
    bottom: 45px;
  }
  .hero-header__title {
    font-size: 80px;
    line-height: 1.33;
    margin-bottom: 20px;
  }
  .hero-header__text {
    font-size: 24px;
    margin-bottom: 30px;
  }
}
@media all and (min-width: 1200px) {
  .hero-header {
    bottom: 13px;
  }
  .hero-header__title {
    font-size: 100px;
    line-height: 1.32;
    text-shadow: 0 2px 5px $colorshadow;
    margin-bottom: 0px;
  }
}
