.purchase {
  background-color: $backgroundReasons;
  text-align: center;
}
.purchase__title {
  background: blue;
  margin: 30px 15px 0 15px;
}
.purchase-wrapper {
  //   width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  //   grid-auto-columns: 320px;
}
.purchase-wrapper__article {
  //   width: 100%;
  background: red;
  margin: 45px 70px;
}
